@font-face{
  font-family: Montserrat;
  src: url(web-fonts/Montserrat/Montserrat-Light.otf);
  /*src: url(web-fonts/Montserrat/Montserrat-Black.otf),
        url(web-fonts/Montserrat/Montserrat-Bold.otf),
        url(web-fonts/Montserrat/Montserrat-Light.otf),
        url(web-fonts/Montserrat/Montserrat-ExtraLight.otf),
        url(web-fonts/Montserrat/Montserrat-Light.otf),
        url(web-fonts/Montserrat/Montserrat-Medium.otf),
        url(web-fonts/Montserrat/Montserrat-Regular.otf),*/
  font-weight: lighter, bolder;
      }
@font-face{
  font-family: Nexa;
  src: url(web-fonts/Nexa/Nexa-Light.otf);
      /* url(web-fonts/Nexa/Nexa-Bold.otf);*/
 }
@font-face{
  font-family: PierSans;
  src: url(web-fonts/PierSans/PierSans-Light.otf);
      /* url(web-fonts/PierSans/PierSans-Regular.otf),
       url(web-fonts/PierSans/PierSans-Medium.otf),
       url(web-fonts/PierSans/PierSans-Bold.otf);
  font-weight: lighter bolder;*/
      }
*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body{
  width: 100%;
  font-family:Nexa, sans-serif;
  font-weight: 100;
}
/*Styling for index.html*/
#navbar{
  height: 70px;
  background-color: #D96704;
  color: white;
  font-weight: bold;
}
#navbar button{
  position: relative;
  left: 40%;
  margin-top: 20px;
  margin-right: 2%;
  width: 8%;
  height: 50%;
  border-radius: 5px;
  background-color: #732c02;
  border: 3px solid #d99d55;
}
#navbar a{
  color: white;
  text-decoration: none;
  font-weight: bolder;
  font-family: PierSans, sans-serif;
}
button :hover, .active{
  font-size: 1.2em;
  box-shadow: 4px, 4px, 5px, grey;
}
button>.active{
  border-bottom: 2px solid white;
}
/*Styling for the landing page image*/
#face{
  float: left;
  height: 300px;
  width: 300px;
  shape-outside: circle();
  clip-path: circle();
  background-image:url("images/IMG-20190726-WA0032.jpg");
  background-position-x: 45%;
  background-position-y: 8%;
  background-size: 100%;
  font-size: 0%;
}/*Styling for the log and adding the shape to it*/
#logo{
  float: left;
  width: 50px;
  height: 50px;
  shape-outside: polygon(
    30% 0,
    70% 0,
    100% 30%,
    100% 70%,
    70% 100%,
    30% 100%,
    0% 70%,
    0% 30%
  );
  clip-path: polygon(
    30% 0,
    70% 0,
    100% 30%,
    100% 70%,
    70% 100%,
    30% 100%,
    0% 70%,
    0% 30%
  );
  background-color: #d99d55;
  margin-top: 10px;
  border: 4px solid white;
  font-size: 0.8em;
  padding-top: 1%;
  font-weight: bolder;
}
#logo{
  margin-left: 20px;
}
#logo1{
  margin-top: 60px;
  left:40px;
}